<?xml version="1.0"?>
<robot name="sensor_gps" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find robotnik_sensors)/urdf/gps/gps_plugin.urdf.xacro" />

	<xacro:macro name="sensor_gps" params="id frame_prefix name_prefix parent *origin">

	  <joint name="${frame_prefix}base_joint" type="fixed">
	    <xacro:insert_block name="origin"/>
	    <parent link="${parent}"/>
	    <child link="${frame_prefix}base_link"/>
	  </joint>
	  <link name="${frame_prefix}base_link">
      <inertial>
        <origin xyz="0.0 0 0.015" rpy="0 0 0" />
        <mass value="0.2" />
        <xacro:solid_cuboid_inertia m="0.2" w="0.081" h="0.081" d="0.03" />
      </inertial>
	    <visual>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <material name="gps_color">
           <color rgba="1 1 1 1"/>
        </material>
	      <geometry>
	        <mesh filename="package://robotnik_sensors/meshes/gps/antenna_3GO16.stl"/>
	      </geometry>
	    </visual>
	    <collision>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <geometry>
	        <mesh filename="package://robotnik_sensors/meshes/gps/antenna_3GO16.stl"/>
	      </geometry>
	    </collision>
	  </link>

    <joint name="${frame_prefix}joint" type="fixed">
        <parent link="${frame_prefix}base_link"/>
        <child link="${frame_prefix}link"/>
        <origin xyz="0.00 0 0.0" rpy="0 0 0"/>
    </joint>
    <link name="${frame_prefix}link" />

	  <gazebo reference="${frame_prefix}base_link">
	    <material>Gazebo/White</material>
	    <gravity>true</gravity>
	  </gazebo>

    <xacro:gps_plugin
      frame_prefix="${frame_prefix}"
      name_prefix="${name_prefix}"
      rate="5.0"
    >
    </xacro:gps_plugin>
  </xacro:macro>
</robot>
