<?xml version="1.0"?>
<robot name="gps_plugin" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="gps_plugin" params="
            frame_prefix
            name_prefix
            rate
            ">

    <gazebo reference="${frame_prefix}link">
        <sensor name="${frame_prefix}sensor" type="navsat">
            <!-- <navsat>
                <position_sensing>
                <horizontal>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </horizontal>
                <vertical>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </vertical>
                </position_sensing>
                <vertical_sensing>
                <horizontal>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </horizontal>
                <vertical>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </vertical>
                </vertical_sensing>
            </navsat> -->
            <always_on>1</always_on>
            <update_rate>${rate}</update_rate>
            <topic>navsat_data_${id}</topic>
            <gz_frame_id>${name_prefix}${id}/${frame_prefix}link</gz_frame_id>
        </sensor>
    </gazebo>

  </xacro:macro>

</robot>
