<?xml version="1.0"?>
<robot name="depth_camera_plugin" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="depth_camera_plugin" params="
            frame_prefix
            name_prefix
            horizontal_fov
            vertical_fov
            video_width
            video_height
            min_depth
            max_depth
            rate
            ">

    <gazebo reference="${frame_prefix}depth_optical_frame">
      <sensor name="${frame_prefix}sensor" type="rgbd_camera">
        <camera name="$frame_prefix}camera">
          <horizontal_fov>${radians(float(horizontal_fov))}</horizontal_fov>
          <vertical_fov>${radians(float(vertical_fov))}</vertical_fov>
          <image>
            <width>${video_width}</width>
            <height>${video_height}</height>
            <format>B8G8R8</format>
          </image>
          <clip>
            <near>${min_depth}</near>
            <far>${max_depth}</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.100</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>

        <topic>depth/image_raw_${id}</topic>
        <gz_frame_id> ${name_prefix}${id}/${frame_prefix}depth_optical_frame </gz_frame_id>
        
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
